<head>
  <title>Talk it like you walk it</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://code.responsivevoice.org/responsivevoice.js' type="text/javascript">
  </script>
  <style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Roboto:500');
    body{
      background-image: linear-gradient(to left, #c31432, #240b36);
      font-family: Roboto;
      color: white;
      font-size: 100%;
    }
    .card{
      background-color: transparent;
      border-width: thin;
      border-color: white;
      width: 35%;
    }
    span{
      color: white;
      font-style: italic;
    }
    small a{
      color: white;
    }
    small a:hover{
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-color: white;
      color: #03fcfa;
    }
    .type-txt{
      background-color: transparent;
      border-width: thin;
      border-color: white;
      width: 40%;
      color: white;
    }
    .display-3 {
        font-size: 3.5rem;
        line-height: 1.2;
        font-family: 'Lobster', cursive;         
      }
    .btn-outline-warning{
      color: #e9ecef;
      border-color: #e9ecef;
    }
    .btn-outline-warning:hover{
      background-color: #e9ecef;
      color: black;
      border-color: #e9ecef;
    }
    a{
      color: white;
    }
    
    a:hover{
      color: black;
    }
    @media only screen and (max-width: 600px) {
      .card, .type-txt{
        background-color: transparent;
        border-width: thin;
        border-color: white;
        width: 100%;
      }
      .display-3 {
        font-size: 3.5rem;
        line-height: 1.2;
      }
    }
  </style>
</head>
<body>
<div class="container">
  <br/>
  <h1 class="display-3 font-weight-bold">Talk it like you walk it</h1>
  <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-outline-primary" value="Submit" onclick="cancel();" />
  </form>
  <br/>
  <span id="msg"></span><br><br>
  <div class="option form-group">
      <label for="voice">Select a Voice:</label>
      <select name="voice" id="voice" class="form-control form-control-sm type-txt"></select>
  </div>
  <br/>
  <input type="button" class="btn btn-outline-primary" value="Speak" id="speak"/> 
  <input type="button" class="btn btn-outline-warning" onclick = "pause()"; value="Pause" id="pause"/>
  <br/><br/>
  <h6 type='text' id="speech-msg">{{ text }}</h6>
</div>

<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">
  <center><h3>Follow and Support me on</h3></center>
  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1" href="#">
          <i class="fa fa-facebook-f fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1" href="https://twitter.com/brianjoroge">
          <i class="fa fa-twitter fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1" href="#">
          <i class="fa fa-youtube-play fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1" href="#">
          <i class="fa fa-linkedin fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1" href="#">
          <i class="fa fa-instagram fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1" href="#">
          <i class="fa fa-github fa-2x"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->



<script type="text/javascript"> 
var supportMsg = document.getElementById('msg');

if ('speechSynthesis' in window) {
	supportMsg.innerHTML = 'Your browser <strong>supports</strong> speech synthesis.';
} else {
	supportMsg.innerHTML = 'Sorry your browser <strong>does not support</strong> speech synthesis.<br>Try this in <a href="https://www.google.co.uk/intl/en/chrome/browser/canary.html">Chrome Canary</a>.';
	supportMsg.classList.add('not-supported');
}


// Get the 'speak' button
var button = document.getElementById('speak');

// Get the text input element.
var speechMsgInput = document.getElementById('speech-msg');

var article = speechMsgInput.innerHTML;

var voiceSelect = document.getElementById('voice');

// Fetch the list of voices and populate the voice options.
function loadVoices() {
  // Fetch the available voices.
	var voices = responsiveVoice.getVoices();
  
  // Loop through each of the voices.
	voices.forEach(function(voice, i) {
    // Create a new option element.
		var option = document.createElement('option');
    
    // Set the options value and text.
		option.value = voice.name;
		option.innerHTML = voice.name;
    option.className = "dropdown-item";
		  
    // Add the option to the voice selector.
		voiceSelect.appendChild(option);
	});
}

// Execute loadVoices.
loadVoices();



function speak(text) {
  var voiceSelected = voiceSelect.options[voiceSelect.selectedIndex].text;
  responsiveVoice.speak(text,voiceSelected);
  if(responsiveVoice.isPlaying()){
    responsiveVoice.cancel();
    document.getElementById("speak").value = "Restart";
    responsiveVoice.speak(text);
  }
  else{
    document.getElementById("speak").value = "Restart";    
  }
}
// Set up an event listener for when the 'speak' button is clicked.
button.addEventListener('click', function(e) {
  article = article.toLowerCase();
	if (article.length > 0) {
		speak(article);
	}
  else{
    speak("Please enter a link");
  }
});

function pause(){
    if(responsiveVoice.isPlaying()){
      document.getElementById("pause").value = "Resume";
      responsiveVoice.pause();
    }
    else{
      document.getElementById("pause").value = "Pause";
      responsiveVoice.resume();
    }
}

function cancel(){
  responsiveVoice.cancel();
  document.getElementById("speak").value = "Speak";
}

</script>
</body>